version: '2.3'

services:
  
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VNCPASS: password
    
    image: laptq-img-vnc

    stdin_open: true
    tty: true
    
    volumes:
      - /media:/media
      - /mnt:/mnt
      - /home:/home
    
    ipc: host
    shm_size: '2g'
    privileged: true

    ports:
      - 127.0.0.1:5901:5901

    command: "sudo /root/start-vncserver.sh"
